name: Build & Push Student Docker Image

on:
  push:
    branches:
      - main
    paths:
      - "studentDetails/**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build Student Service
        run: mvn -pl studentDetails clean package -DskipTests

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: docker build -t harivardhanm/student-details-app:latest ./studentDetails

      - name: Push Docker image
        run: docker push harivardhanm/student-details-app:latest